body {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  max-width: 960px;
  font-family: 'Roboto';
  font-size: 13px;
}

.first {
  font-family: 'Roboto';
  font-size: 18px;
}

.second {
  font-family: 'Roboto';
  font-size: 16px;
}

.third {
  font-family: 'Roboto';
  font-size: 16px;
}

h1,
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #08c;
}

ul {
  color: #08c;
  text-align: left;
  list-style-type: none;
}

li {
  padding: 10px;
  font-size: 14px;
}

iframe {
  padding-bottom: 7%;
  width: 100%;
}

img {
  text-align: center;
}

a:link {
  color: #f00;
}

a:visited {
  color: #a9a9a9;
}

a:hover {
  color: #08c; /* Цвет текста */
}

a:active {
  color: #000;
}
